<h2 mat-dialog-title>Datos de utilidad</h2>

<div mat-dialog-content>
    <p>Todos los valores estan expresados en días hábiles.</p>
    
    <p>S: Semana</p>
    <p>M: Mes</p>
    <p>A: Año</p>
</div>

<div mat-dialog-content>
<p>Para facilitar la visualización de los datos, se grafica una muestra de los datos totales. Cada grafico mostrará aproximadamente 30 datos correspondientes a la variable en el plazo de tiempo seleccionado siguiendo la siguiente regla: </p>

  <p>1S: se toman todos los datos de la semana</p>
  <p>1M: se toman todos los datos del mes</p>
  <p>3M: se toma una muestra de 30 datos de los ultimos tres meses, con una diferencia de tres días entre sí</p>
  <p>6M: se toma una muestra de 30 datos de los ultimos seis meses, con una diferencia de seis días entre sí</p>
  <p>1A: se toma una muestra de 30 datos del último año, con una diferencia de doce días entre sí</p>
  <p>2A: se toma una muestra de 30 datos de los ultimos dos años, con una diferencia de veinticuatro días entre sí</p>
  <p>5A: se toma una muestra de 30 datos de los ultimos cinco años, con una diferencia de sesenta días entre sí</p>
  <p>10A: se toma una muestra de 30 datos de los ultimos diez años, con una diferencia de ciento veintiún días entre sí</p>

</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close> Cerrar </button>
</mat-dialog-actions>
