.icon {
    width: 200px;
    height: auto;
<<<<<<< HEAD
    margin-top: 55px; 
=======
    cursor: pointer; /* Cambia el cursor a pointer */
>>>>>>> 139edaee30d69f588410e7832737db5095867e08
}

.contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding-top: 0; 
    text-align: center;
    background-color: #000;
}
<<<<<<< HEAD
=======

>>>>>>> 139edaee30d69f588410e7832737db5095867e08
