.icon {
    width: 200px;
    height: auto;
    margin-top: 55px; 
    cursor: pointer; /* Cambia el cursor a pointer */

}

.contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding-top: 0; 
    text-align: center;
    background-color: #000;
}

