<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<div class="contenedorPrincipal" class="cont1">
    <div class="header-contenedor">
        <div *ngIf="itemActual.nombreLargo">
            <h1 class="variable-nombre">{{itemActual.nombreLargo | uppercase}}</h1>
        </div>
        <div *ngIf="itemActual.valor">
            <h1 class="valor-variable">Valor: {{itemActual.unidad}}  {{itemActual.valor}}</h1>
        </div>
    </div>
    <div *ngIf="itemActual.fecha" class="cont">
        <h4 class="fecha-actualizacion">Última actualización: {{itemActual.fecha}}</h4>
    </div>
    <div *ngIf="itemActual.descripcion" class="cont">
        <h4 class="descripcion-variable">{{itemActual.descripcion}}</h4>
        
    </div>

    <div class="contenedorFiltro">
        <button mat-button class="selectorFecha"         
                [disabled]="esIdMensual()"
                [class.active]="botonActivo === '1S'" 
                (click)="setFechaSeleccionada('1S', $event)">1S</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '1M'" 
                (click)="setFechaSeleccionada('1M', $event)"
                [disabled]="esIdMensual()">1M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '3M'" 
                (click)="setFechaSeleccionada('3M', $event)"
                [disabled]="esIdMensual()">3M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '6M'" 
                (click)="setFechaSeleccionada('6M', $event)"
                [disabled]="esIdMensual()">6M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '1A'" 
                (click)="setFechaSeleccionada('1A', $event)">1A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '2A'" 
                (click)="setFechaSeleccionada('2A', $event)">2A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '5A'" 
                (click)="setFechaSeleccionada('5A', $event)">5A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '10A'" 
                (click)="setFechaSeleccionada('10A', $event)">10A</button>

        <button mat-button class="selectorFecha limpiar-seleccion" 
          (click)="limpiarSeleccion()">Limpiar</button>
          
          <div class="info-button-container">
            <button mat-button class="info-icon" (click)="openDialog()">?</button> 
        </div>
          

      </div>

      
      <button *ngIf="visibilidadBotonCER" id="ajuste-cer-btn" 
        mat-button 
        class="ajuste-cer-btn" 
        [disabled]="botonCERDesactivado" 
        (click)="ajusteCER()">Ajuste CER</button>


    <canvas id="chart">{{chart}}</canvas>
    <h4 class="fecha-fuente">
        Fuente: 
        <ng-container *ngIf="itemActual?.fuente === 'BCRA'; else normalFuente">
          <a href="https://www.bcra.gob.ar/BCRAyVos/catalogo-de-APIs-banco-central.asp" target="_blank">BCRA</a>
        </ng-container>
        <ng-template #normalFuente>{{ itemActual.fuente || 'Cargando...' }}</ng-template>
      </h4>
      
    <section>
        <div class="example-button-row">
            <a mat-button routerLink="/" class="volver-btn"> Volver </a>
        </div>
    </section>


</div>