<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<div class="contenedorPrincipal" class="cont1">
    <div class="header-contenedor">
        <div *ngIf="nombreLargo">
            <h1 class="variable-nombre">{{nombreLargo | uppercase}}</h1>
        </div>
        <div *ngIf="valorActual">
            <h1 class="valor-variable">Valor: {{unidad}}  {{valorActual}}</h1>
        </div>
    </div>
    <div *ngIf="fechaHeader" class="cont">
        <h4 class="fecha-actualizacion">Última actualización: {{fechaHeader}}</h4>
    </div>
    <div *ngIf="descripcion" class="cont">
        <h4 class="descripcion-variable">{{descripcion}}</h4>
        
    </div>


    <!--<div class="contenedorFiltro">
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">1S</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">1M</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">3M</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">6M</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">1A</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">2A</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">5A</button>
        <button mat-button class="selectorFecha" (click)="fechaSeleccionada($event)">10A</button>
        
    </div>-->
    <div class="contenedorFiltro">
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '1S'" 
                (click)="setFechaSeleccionada('1S', $event)">1S</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '1M'" 
                (click)="setFechaSeleccionada('1M', $event)">1M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '3M'" 
                (click)="setFechaSeleccionada('3M', $event)">3M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '6M'" 
                (click)="setFechaSeleccionada('6M', $event)">6M</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '1A'" 
                (click)="setFechaSeleccionada('1A', $event)">1A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '2A'" 
                (click)="setFechaSeleccionada('2A', $event)">2A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '5A'" 
                (click)="setFechaSeleccionada('5A', $event)">5A</button>
      
        <button mat-button class="selectorFecha" 
                [class.active]="botonActivo === '10A'" 
                (click)="setFechaSeleccionada('10A', $event)">10A</button>

        <button mat-button class="selectorFecha limpiar-seleccion" 
          (click)="limpiarSeleccion()">Limpiar</button>
          
          <div class="info-button-container">
            <button mat-button class="info-icon" (click)="openDialog()">?</button> 
        </div>
          

      </div>

      <!--<button *ngIf="visibilidadBoton" id="ajuste-cer-btn" mat-button class="ajuste-cer-btn" (click)="ajusteCER()">Ajuste CER</button>-->
      <button *ngIf="visibilidadBoton" id="ajuste-cer-btn" 
        mat-button 
        class="ajuste-cer-btn" 
        [disabled]="botonDesactivado" 
        (click)="ajusteCER()">Ajuste CER</button>




    <canvas id="chart">{{chart}}</canvas>

    <!-- <h4  class="fecha-fuente">Fuente: {{itemActual?.fuente}}</h4> -->
    <!-- <h4 class="fecha-fuente">Fuente: {{ itemActual ? itemActual.fuente : 'Cargando...' }}</h4> -->
    <h4 class="fecha-fuente">
        Fuente: 
        <ng-container *ngIf="itemActual?.fuente === 'BCRA'; else normalFuente">
          <a href="https://www.bcra.gob.ar/BCRAyVos/catalogo-de-APIs-banco-central.asp" target="_blank">BCRA</a>
        </ng-container>
        <ng-template #normalFuente>{{ itemActual?.fuente || 'Cargando...' }}</ng-template>
      </h4>
      



    <section>
        <div class="example-button-row">
            <a mat-button routerLink="/" class="volver-btn"> Volver </a>
        </div>
    </section>

</div>