<div class="contenedorPrincipal">
    <div class="contenedor">
        <h1>A3500</h1>
        <h1></h1>
    </div>

    <div class="contenedor">
        <h4> Última actualización: dd/mm/aaaa</h4>
        <h4> Moneda </h4>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, voluptates provident repellat nulla eos
        corruptibeatae magnam quam sit odio. Similique nesciunt voluptatum voluptate veniam nihil.</p>

    <canvas id="chart">{{chart}}</canvas>

    <section>
        <div class="example-button-row">
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
    </section>



</div>