.footer {
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    bottom: 1%;
    position: fixed
}

.footer-content {

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content span {
    margin-right: 10px;
}

.social-icon {
    margin: 0 5px;
}

.social-icon img {
    width: 20px;
    /* Ancho de los iconos */
    height: 20px;
    /* Altura de los iconos */
    filter: invert(100%);
    /* Invertir colores para hacer los iconos blancos */
}

hr {
    border: 1px solid #343434;
    /* Ajusta el ancho del borde y el color */
    margin: 20px 0;
    /* Ajusta los márgenes superior e inferior */
}